# Data Science Tools and Ecosystem #

### In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. SQL

### Objectives:

- Python
- R
- SQL

1. scikit-learn
2. Numpy
3. Pandas

|Data Science Tools|
|------------------|
|Hadoop|
|Spark|
|R studios|

#### Below are a few examples of evaluating arithmetic expressions in Python

1. addition
2. multiplication
3. substraction
4. division

In [6]:
(3*4)+5

17

In [7]:
#This a simple arithmetic expression to mutiply then add integers

In [10]:
200 // 60

3

In [11]:
#This will convert 200 minutes to hours by diving by 60

## Author
Sarthak Patil